<div class="container-fluid wrap-img-ok" style="margin: 0; padding: 0;">
    <div class="row bg-shadow" style="margin: 0; padding: 0;">
        <div class="col-md-12 d-flex align-items-center d-flex justify-content-center flex-column ">
            <div class="d-flex align-items-center d-flex justify-content-center flex-column p-2">
                <div class="container-fluid">
                    <div class="row d-flex align-items-center d-flex justify-content-center">
                        <div class="col-12 col-md-12 col-xs-12 col-sm-12 col-lg-7">
                            <h1 class="text-light text-center">
                                What Zibo Minings Expects from 
                                 <br>Potential Investors
                            </h1>
                        </div>
                       
                        <div class="col-12 col-md-12 col-xs-12 col-sm-12 col-lg-7">
                            <p class="text-light text-center">
                             To bring mining expertise at both exploration and development phases
            To develop mining activities including extraction, transformation, and export
            Position as key exporters at the global markets.
                        </p>
                        </div>
                    </div>
                    
                </div>
                
                
               
            </div>
        </div>
        
    </div>
</div>