<section class="prt-row prt-bg bg-base-dark prt-bgimage-yes bg-img4 clearfix">
    <div class="prt-row-wrapper-bg-layer prt-bg-layer"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="sc_title sc_title_regular sc_align_center margin_top_huge"
                                style="margin-bottom: 1.55rem;text-align:center;color:#ffffff;">Target Minerals
                            </h2>
            </div>
            <div class="col-lg-12">
                <div class="prt-pf style1 ">
                    <article class="prt-pfbox-view-style5 prt-pfbox">
                        <div class="prt-post-item">
                            <div class="prt-content-inner">
                                <div class="prt-box-content">
                                    <div class="prt-box-title">
                                        <h3><a href="/">Copper</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tm-animation-hover-img">
                            <div class="prt-pf-image-box">
                                <span class="prt-item-thumbnail">
                                    <span class="prt-item-thumbnail-inner">
                                        <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image"
                                            width="300" height="300">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </article>
                    <article class="prt-pfbox-view-style5 prt-pfbox">
                        <div class="prt-post-item">
                            <div class="prt-content-inner">
                                <div class="prt-box-content">
                                    <div class="prt-box-title">
                                        <h3><a href="/">Cobalt</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tm-animation-hover-img">
                            <div class="prt-pf-image-box">
                                <span class="prt-item-thumbnail">
                                    <span class="prt-item-thumbnail-inner">
                                        <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image"
                                            width="300" height="300">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </article>
                    
                    <article class="prt-pfbox-view-style5 prt-pfbox">
                        <div class="prt-post-item">
                            <div class="prt-content-inner">
                                <div class="prt-box-content">
                                    <div class="prt-box-title">
                                        <h3><a href="/">Lithium</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tm-animation-hover-img">
                            <div class="prt-pf-image-box">
                                <span class="prt-item-thumbnail">
                                    <span class="prt-item-thumbnail-inner">
                                        <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image"
                                            width="300" height="300">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </article>
                    <article class="prt-pfbox-view-style5 prt-pfbox">
                        <div class="prt-post-item">
                            <div class="prt-content-inner">
                                <div class="prt-box-content">
                                    <div class="prt-box-title">
                                        <h3><a href="/">Coltan</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tm-animation-hover-img">
                            <div class="prt-pf-image-box">
                                <span class="prt-item-thumbnail">
                                    <span class="prt-item-thumbnail-inner">
                                        <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image"
                                            width="300" height="300">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </article>
                    <article class="prt-pfbox-view-style5 prt-pfbox">
                        <div class="prt-post-item">
                            <div class="prt-content-inner">
                                <div class="prt-box-content">
                                    <div class="prt-box-title">
                                        <h3><a href="/">Manganese</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tm-animation-hover-img">
                            <div class="prt-pf-image-box">
                                <span class="prt-item-thumbnail">
                                    <span class="prt-item-thumbnail-inner">
                                        <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image"
                                            width="300" height="300">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </article>

                   
                    
                    <article class="prt-pfbox-view-style5">
                        <div class="prt-post-item">
                            <div class="prt-content-inner">
                                <div class="prt-box-content">
                                    <div class="prt-box-title">
                                        <h3><a href="/">Other Minerals</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tm-animation-hover-img">
                            <div class="prt-pf-image-box">
                                <span class="prt-item-thumbnail">
                                    <span class="prt-item-thumbnail-inner">
                                        <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image"
                                            width="300" height="300">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </article>


                </div>
                <div class="text-center">
                    <a class="prt-btn btn-inline prt-btn-size-md prt-btn-color-whitecolor btn-underline-style5 mt-25"
                        href="portfolio-details.html">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</section>