<div class="container mt-4 mb-4" style="background-color: rgb(255, 255, 255);">
    <div class="row">
        <div class="col-lg-12">
            <!-- section title -->
            <div class="section-title title-style-center_text">
                <div class="title-header">
                    <br/>
                    <h2 class="title">Our visitors</h2>
                    <br/>
                </div>
            </div><!-- section title end -->
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md-9 mx-auto text-center">
            <img class="img-fluid img-raised d-block mx-auto rounded" src="/assets/images/gettyimages-1165665386-transports.jpg" alt="Mockup">
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-9 mx-auto d-flex align-items-center flex-row justify-content-center">
            <div class="row">
                
                <div class="col-md-12 col text-center ">
                    <div class="media d-flex align-items-center flex-row justify-content-center">
                        <!--<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-video text-muted mr-3"><polygon points="23 7 16 12 23 17 23 7"></polygon><rect x="1" y="5" width="15" height="14" rx="2" ry="2"></rect></svg>-->
                        <div class="media-body">
                            <div  class="title-header text-center">
                                <h2  class="title odometer" id="odometer">0000000</h2></div>
                            <span class="text-muted small-xl">visited us</span>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>