<div class="vc_row wpb_row vc_row-fluid vc_row-no-padding">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
            <div class="wpb_wrapper">
                <div class="sc_parallax" data-parallax-speed="0" data-parallax-x-pos="50%" data-parallax-y-pos="50%">
                    <div class="sc_parallax_content"
                        style="background-image: url(&quot;images/bg2-Parallax.jpg&quot;); background-position: 50% 0px;">
                        <div
                            class="sc_content content_wrap d-flex justify-content-center flex-column d-flex align-items-center">
                            <br><br>
                            <h2 class="sc_title sc_title_regular sc_align_center margin_top_huge"
                                style="margin-bottom: 1.55rem;text-align:center;color:#ffffff;"><br />Guiding Principles
                                and Values
                            </h2>
                            <div class="sc_section aligncenter " style="max-width: 790px; text-align: center;">
                                <div class="sc_section_inner d-flex justify-content-center">
                                    <div class="sc_section_content_wrap text-center"><span class="sc_highlight p-2"
                                            style="color:#ffffff;font-size:1.3846em; line-height: 1.4em;">"The way to
                                            get started is to guid talking and begin doing”
                                            <br><br>Walt DISNEY
                                            .</span></div>
                                </div>
                            </div>
                            <div id="sc_skills_diagram_146952702"
                                class="sc_skills sc_skills_counter margin_bottom_large" style="margin-top: 1.5rem;"
                                data-type="counter" data-caption="Skills">
                                <div class="columns_wrap sc_skills_columns sc_skills_columns_4 row">
                                    <div class="sc_skills_column   ol-xs-12 col-lg-3 col-md-4 col-sm-6">
                                        <div class="sc_skills_item sc_skills_style_2 odd first inited">
                                            <div class="sc_skills_icon none"></div>
                                            <div class="sc_skills_count"></div>
                                            <div class="sc_skills_total" data-start="0" data-stop="231" data-step="1"
                                                data-max="1" data-speed="17" data-duration="1964" data-ed="">1</div>
                                            <div class="sc_skills_info">
                                                <div class="sc_skills_label">Ethical & Responsible Employee Traitement
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_skills_column  ol-xs-12 col-lg-3 col-md-6 col-sm-6">
                                        <div class="sc_skills_item sc_skills_style_2 even inited">
                                            <div class="sc_skills_icon none"></div>
                                            <div class="sc_skills_count"></div>
                                            <div class="sc_skills_total" data-start="0" data-stop="2" data-step="1"
                                                data-max="2" data-speed="36" data-duration="252" data-ed="">2
                                            </div>
                                            <div class="sc_skills_info">
                                                <div class="sc_skills_label">Relationship with Government</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_skills_column   ol-xs-12 col-lg-3 col-md-6 col-sm-6">
                                        <div class="sc_skills_item sc_skills_style_2 odd inited">
                                            <div class="sc_skills_icon none"></div>
                                            <div class="sc_skills_count"></div>
                                            <div class="sc_skills_total" data-start="0" data-stop="3" data-step="1"
                                                data-max="3" data-speed="17" data-duration="272" data-ed="">3
                                            </div>
                                            <div class="sc_skills_info">
                                                <div class="sc_skills_label">Commitment to environmental protection
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="sc_skills_column  col-xs-12 col-lg-3 col-md-6 col-sm-6">
                                        <div class="sc_skills_item sc_skills_style_2 even inited">
                                            <div class="sc_skills_icon none"></div>
                                            <div class="sc_skills_count"></div>
                                            <div class="sc_skills_total" data-start="0" data-stop="4" data-step="1"
                                                data-max="4" data-speed="29" data-duration="305" data-ed="">4
                                            </div>
                                            <div class="sc_skills_info">
                                                <div class="sc_skills_label">Accountability & Transparency</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="vc_empty_space" style="height: 1.7em"><span class="vc_empty_space_inner"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>