<section class="prt-row fid-section_1 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
               &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title title-style-center_text">
                    <div class="title-header">
                        <h3 class="style1">Our sites & resources</h3>
                        <h2 class="title">A Mineral Rich World</h2>
                    </div>
                </div><!-- section title end -->
            </div>                        
        </div>
        <div class="row align-items-center res-1199-pl-15 res-1199-pr-15">
            <div class="col-xl-6 col-lg-12 col-md-12 mt-40 res-991-mt-15 res-767-mt-35">
                <div data-aos="fade-right" data-aos-duration="900">
                    <div class="row g-0">
                        <div class="col-xl-4 col-lg-2 col-md-3">
                            <!-- prt-fid -->
                            <div class="prt-fid inside style1">
                                <div class="prt-fid-contents">
                                    <h4 class="prt-fid-inner">
                                        <span data-appear-animation="animateDigits" data-from="0" data-to="4" data-interval="1" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">4</span>
                                        <span>+</span>
                                    </h4>
                                </div>
                            </div>
                            <!-- prt-fid -->
                        </div>
                        <div class="col-xl-8 col-lg-10 col-md-9">
                            <div class="prt-fid-title style1 ml_25 res-1199-ml-0">
                                <h3>Mining Sites</h3>
                                <p>Zibo mining is an owner of mining concessions located in peaceful areas of Kolwezi (Lualaba Province), Bukama (Haut Katanga Province) and Kamina (Lomani Province). The Kolwezi site is 168 hectares, while the Bukama and Kamina sites are 588 hectares each. The sites total at 1,340 hectares which is the equivalent of 3,311.21 acres.</p>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-2 col-md-3">
                            <!-- prt-fid -->
                            <div class="prt-fid inside style1">
                                <div class="prt-fid-contents">
                                    <h4 class="prt-fid-inner">
                                        <span data-appear-animation="animateDigits" data-from="0" data-to="10" data-interval="1" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">10</span>
                                        <span>+</span>
                                    </h4>
                                </div>
                            </div>
                            <!-- prt-fid -->
                        </div>
                        <div class="col-xl-8 col-lg-10 col-md-9">
                            <div class="prt-fid-title style1 ml_25 res-1199-ml-0">
                                <div>
                                    <h3>Mineral products</h3>
                                    <p>Our mining sites are full of more than 10 mineral products, including cobalt, coltan, copper, lithium, manganese, wolfermite, gold, diamonds, and zinc.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-4 col-lg-2 col-md-3">
                            <!-- prt-fid -->
                            <div class="prt-fid inside style1">
                                <div class="prt-fid-contents">
                                    <h4 class="prt-fid-inner">
                                        <span data-appear-animation="animateDigits" data-from="0" data-to="120" data-interval="5" data-before="" data-before-style="sup" data-after="" data-after-style="sub" class="numinate">120</span>
                                        <span>+</span>
                                    </h4>
                                </div>
                            </div>
                            <!-- prt-fid -->
                        </div>
                        <div class="col-xl-8 col-lg-10 col-md-9">
                            <div class="prt-fid-title style1 ml_25 res-1199-ml-0">
                                <div>
                                    <h3>Expertise</h3>
                                    <p>
                                        Our team is composed of a variety of experts in the fields including, but not limited to, geology, compliance, laws, and accounting.  Our geologists not only identified key sites with substantial mineral deposits, but also identified where those deposits are located on the sites. The advocates on our team do a phenomenal job in setting protocols that follow both legaland compliance parameters to help us operate in an effective and ethical manner.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-12 col-md-12">
                <div class="fid-map-items position-relative mt-60  res-1199-mt-30 res-767-mt-0" data-aos="fade-left" data-aos-duration="900">
                    <img class="img-fluid" src="assets/images/single-img-02.png" alt="image" width="634" height="306">
                  
                    <!-- item3 -->
                    <div class="item3">
                        <div class="tooltip active">
                            <div class="map-dots"></div>
                            <div class="tooltiptext active">
                                <p class="tooltip-title">Immeuble 30 juin, 2e niveau, Gombe</p>
                                <h3>Kinshasa - DRC</h3>
                            </div>
                        </div>
                    </div>
                   
                    <!-- item6 end-->
                </div>
            </div>
        </div><!-- row end -->
    </div>
</section>