 <!--featured-icon-box-->
 <div class="featured-icon-box icon-align-before-content style10">
    <div class="featured-content p-0">
        <div class="featured-desc">
            <h2>Responsible Production</h2>
            <p>Zibo Mining's production takes into consideration and respects all of its stakeholders, minimizes and takes into account its environmental impact, and prioritizes a fair division of economic and financial benefits. </p>
            <p>Zibo Mining acknowledges its responsibility to minimize pollution, participatory decision making, accountability, and transparency all while maintaining a sustainable mining model.</p>
            
        </div>
    </div>
</div><!-- featured-icon-box end-->
<div class="row share-section1 mt-40">
    
    
</div>
<div class="mt-50">
    <div class="border-rad_10">
        <img class="img-fluid" src="/assets/images/single-img-28.jpg" alt="image" width="828" height="380">
    </div>
</div>
<div class="row mt-45 align-items-center">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="border-rad_10">
            <img class="img-fluid" src="/assets/images/single-img-20.jpg" alt="image" width="399" height="380">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <!--featured-icon-box-->
        <div class="featured-icon-box icon-align-before-content style11 mt-0 pt-0 res-767-mt-30">
            <div class="featured-icon">
                <div class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor prt-icon_element-size-md">
                    <i class="flaticon flaticon-crane-truck"></i>
                </div>
            </div>
            <div class="featured-content">
                <div class="featured-desc">
                    <h2><a href="/">Mobile Crane Services</a></h2>
                </div>
            </div>
            <div class="featured-desc mt-20">
                <p>Large mining companies had an average score as low as 19% when it came to the human rights-related issues assessed.</p>
            </div>
        </div><!-- featured-icon-box end-->
        <!--featured-icon-box-->
        <div class="featured-icon-box icon-align-before-content style11 mb-0 pb-0">
            <div class="featured-icon">
                <div class="prt-icon prt-icon_element-onlytxt prt-icon_element-color-skincolor prt-icon_element-size-md">
                    <i class="flaticon flaticon-search"></i>
                </div>
            </div>
            <div class="featured-content">
                <div class="featured-desc">
                    <h2><a href="/">Geological Consulting</a></h2>
                </div>
            </div>
            <div class="featured-desc mt-20">
                <p>The rewards include recognition amongst peers, potentially fees and income.</p>
            </div>
        </div><!-- featured-icon-box end-->
    </div>
</div>