<section class="prt-row about-section clearfix aos-init aos-animate" data-aos="fade-up" data-aos-duration="1500">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-5 col-lg-12 col-md-12 col-sm-12">
            <!-- section title -->
                <div class="section-title mb-0">
                    <div class="title-header">
                        <h3>About us</h3>
                        <h2 class="title">Who are we ? </h2>
                    </div>
                    <div class="title-desc">
                        <div class="aboutquote">
                            <blockquote class="aboutquote-text">Zibo mining is an owner of mining concessions located in peaceful and strategic areas neighboring some of the biggest corporations in the industry, as seen in the following image  </blockquote>
                        </div> 
                       <!-- <p>Zibo mining, being aware of that, proposes the interested investors who wish to invest in the mining sector in the DRC, but who are hesitant because:
                        
                        </p>-->
                    </div>
                </div>
            <!-- section title end -->
            </div>
            <div class="col-xl-7 col-lg-12 col-md-12 col-sm-12">
                <div class="pl-30 res-1199-pl-0 res-1199-mt-30">
                    
                    <div class="about-section border-rad_10">
                        <img width="auto" height="166" class="img-fluid" src="assets/images/imagemap.png" alt="about-01">
                    </div>
                </div>
            </div>
        </div><!-- row end -->
        <div class="prt-aboutcta bg-base-dark prt-bg prt-bgimage-yes bg-img1 border-rad_10 spacing-1 aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
            <div class="prt-row-wrapper-bg-layer prt-bg-layer bg-base-dark"></div>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="aboutcta">
                        <h3>Contact - us on <span> <img src="assets/images/pngtree-whatsapp-icon-social-media-png-image_6618452.png" style="width: 45px; height: 45px;" /></span> with <span class="text-base-skin fs-30"> +243 821 816 662</span> </h3>
                    </div>
                </div>
               </div>

        </div>
    </div>
</section>
