
        <!-- page-title -->
        <div class="prt-page-title-row">
            <div class="prt-page-title-row-inner">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-12">
                            <div class="prt-page-title-row-heading">
                                <div class="page-title-heading">
                                    <h2 class="title">About us</h2>
                                </div>
                                <div class="breadcrumb-wrapper">
                                    <a href="#about-section"><i class="ti-arrow-down"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                    
        </div>
        <!-- page-title end -->

   
        <!--site-main start-->
        <div class="site-main bg-white">

            <!-- about section start -->
            <section id="about-section" class="prt-row about01-section top-section-padding clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <!-- section title -->
                            <div class="section-title">
                                <div class="title-header">
                                    <h3>How we are</h3>
                                  <!--  <h2 class="title">Better prospecting give better mineral dust outputs!</h2>-->
                                </div>
                                <div>
                                    <p>One of the main opportunities for investors in the DRC's mining industry is the country's vast mineral reserves. The DRC is home to some of the world's largest reserves of cobalt and copper, and also has significant reserves of diamonds, gold, and tin.

                                        </p>
                                        
                                </div>
                            </div>
                            <!-- section title end -->
                            <!--circular-->
                            <div class="circular-main-01 ml-110 res-1199-ml-80 res-480-ml-0 style2" data-aos="fade-right" data-aos-duration="1500">
                                <div class="circular-main">
                                    <div class="circular">
                                        <div class="circular">
                                            <a href="https://youtu.be/LfHDloAXDUk" target="_self" class="prt_prettyphoto">
                                                    <i class="flaticon flaticon-play"></i></a>
                                            
                                            <span class="circular_text rotate slower" data-text="View All Services  -  View All Services  -">  
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(180deg) translateY(56px) rotate(180deg);">p</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(190.909deg) translateY(56px) rotate(180deg);">l</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(200.818deg) translateY(56px) rotate(180deg);">a</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(210.730deg) translateY(56px) rotate(180deg);">y</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(223.636deg) translateY(56px) rotate(180deg);"> </span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(234.545deg) translateY(56px) rotate(180deg);">w</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(245.455deg) translateY(56px) rotate(180deg);">i</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(256.364deg) translateY(56.6px) rotate(180deg);">t</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(267.273deg) translateY(56.6px) rotate(180deg);">h</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(278.182deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(289.091deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(300deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(310.909deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(321.818deg) translateY(56.6px) rotate(180deg);">-</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(332.727deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(343.636deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(354.545deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(365.455deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(376.364deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(387.273deg) translateY(56.6px) rotate(180deg);">s</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(398.182deg) translateY(56.6px) rotate(180deg);">o</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(409.091deg) translateY(56.6px) rotate(180deg);">u</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(420deg) translateY(56.6px) rotate(180deg);">n</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(430.909deg) translateY(56.6px) rotate(180deg);">d</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(441.818deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(452.727deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(463.727deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(474.727deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(485.727deg) translateY(56.6px) rotate(180deg);">-</span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(496.727deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(507.727deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(518.727deg) translateY(56.6px) rotate(180deg);"></span>
                                                <span class="character" style="transform: translate(-50%, -50%) rotate(529.727deg) translateY(56.6px) rotate(180deg);"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="about-section style2 border-rad_10">
                                     <img width="524" height="400" class="img-fluid" src="assets/images/single-img-11.jpg" alt="about-01">
                                </div>
                            </div>
                            <div>
                                
                            </div>
                            <!-- circular end-->
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                            <div class="pl-110 res-1199-pl-0 res-1199-mt-30">
                                <div class="about-section border-rad_10" data-aos="fade-left" data-aos-duration="1500">
                                    <img width="524" height="540" class="img-fluid" src="assets/images/single-img-12.jpg" alt="about-01">
                                </div>
                                <div class="aboutquote mt-35">
                                    <p>
                                        Zibo mining, being aware of that, proposes the interested investors who wish to invest in the mining sector in the DRC, but who are hesitant because :
                                    
                                    </p>
                                    
                                        <ol>
                                            <li>they do not know their way around</li>
                                            <li>they do not want to be involved in corrupt deals.</li>
                                            <li>don’t want to be robbed by rogue partners</li>
                                            
                                        </ol>
                                   
                                </div>
                            </div>
                        </div>
                    </div><!-- row end -->
                </div>
            </section>
            <!-- about section end -->

            <!--hover-section-->
            <section class="prt-row hover-section bg-img6 prt-bg bg-base-dark-02 clearfix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="prt-pf style1 text-center">
                                <article class="prt-pfbox-view-style5 prt-pfbox">
                                    <div class="prt-post-item">
                                        <div class="prt-content-inner">
                                            <div class="prt-box-content">   
                                                <div class="prt-box-title">
                                                    <h3><a href="portfolio-details.html">Copper</a></h3>
                                                </div>           
                                            </div>                  
                                        </div>  
                                    </div>
                                    <div class="tm-animation-hover-img">
                                        <div class="prt-pf-image-box">
                                            <span class="prt-item-thumbnail">
                                                <span class="prt-item-thumbnail-inner">
                                                    <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image" width="300" height="300">
                                                </span>
                                            </span>     
                                        </div>
                                    </div>
                                </article>
                                <article class="prt-pfbox-view-style5 ">
                                    <div class="prt-post-item">
                                        <div class="prt-content-inner">
                                            <div class="prt-box-content">   
                                                <div class="prt-box-title">
                                                    <h3><a href="portfolio-details.html">Refined Metal Sales</a></h3>
                                                </div>           
                                            </div>                  
                                        </div>  
                                    </div>
                                    <div class="tm-animation-hover-img">
                                        <div class="prt-pf-image-box">
                                            <span class="prt-item-thumbnail">
                                                <span class="prt-item-thumbnail-inner">
                                                    <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image" width="300" height="300">
                                                </span>
                                            </span>     
                                        </div>
                                    </div>
                                </article>
                                <article class="prt-pfbox-view-style5 prt-pfbox">
                                    <div class="prt-post-item">
                                        <div class="prt-content-inner">
                                            <div class="prt-box-content">   
                                                <div class="prt-box-title">
                                                    <h3><a href="portfolio-details.html">Steelmaking Coal</a></h3>
                                                </div>           
                                            </div>                  
                                        </div>  
                                    </div>
                                    <div class="tm-animation-hover-img">
                                        <div class="prt-pf-image-box">
                                            <span class="prt-item-thumbnail">
                                                <span class="prt-item-thumbnail-inner">
                                                    <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image" width="300" height="300">
                                                </span>
                                            </span>     
                                        </div>
                                    </div>
                                </article>
                                <article class="prt-pfbox-view-style5 prt-pfbox">
                                    <div class="prt-post-item">
                                        <div class="prt-content-inner">
                                            <div class="prt-box-content">   
                                                <div class="prt-box-title">
                                                    <h3><a href="portfolio-details.html">Zinc</a></h3>
                                                </div>           
                                            </div>                  
                                        </div>  
                                    </div>
                                    <div class="tm-animation-hover-img">
                                        <div class="prt-pf-image-box">
                                            <span class="prt-item-thumbnail">
                                                <span class="prt-item-thumbnail-inner">
                                                    <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image" width="300" height="300">
                                                </span>
                                            </span>     
                                        </div>
                                    </div>
                                </article>
                                <article class="prt-pfbox-view-style5">
                                    <div class="prt-post-item">
                                        <div class="prt-content-inner">
                                            <div class="prt-box-content">   
                                                <div class="prt-box-title">
                                                    <h3><a href="portfolio-details.html">Energy</a></h3>
                                                </div>           
                                            </div>                  
                                        </div>  
                                    </div>
                                    <div class="tm-animation-hover-img">
                                        <div class="prt-pf-image-box">
                                            <span class="prt-item-thumbnail">
                                                <span class="prt-item-thumbnail-inner">
                                                    <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image" width="300" height="300">
                                                </span>
                                            </span>     
                                        </div>
                                    </div>
                                </article>
                                <article class="prt-pfbox-view-style5">
                                    <div class="prt-post-item">
                                        <div class="prt-content-inner">
                                            <div class="prt-box-content">   
                                                <div class="prt-box-title">
                                                    <h3><a href="portfolio-details.html">Industrial Products</a></h3>
                                                </div>           
                                            </div>                  
                                        </div>  
                                    </div>
                                    <div class="tm-animation-hover-img">
                                        <div class="prt-pf-image-box">
                                            <span class="prt-item-thumbnail">
                                                <span class="prt-item-thumbnail-inner">
                                                    <img class="img-fluid" src="assets/images/portfolio/01.png" alt="image" width="300" height="300">
                                                </span>
                                            </span>     
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="text-center">
                                <a class="prt-btn btn-inline prt-btn-size-md prt-btn-color-whitecolor btn-underline-style5 mt-25" href="portfolio-details.html">Explore More</a>
                            </div>
                        </div>                        
                    </div>
                </div>
            </section>
            <!--hover-section end-->          

            <!--padding_bottom_zero-section-->
            <section class="prt-row team-section bg-base-grey clearfix">
                <div class="container">
                    <!-- row -->
                    <div class="row">
                        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12">
                            <!-- section title -->
                            <div class="section-title">
                                <div class="title-header">
                                    <h3>Deel</h3>
                                    <h2 class="title">Can I mine in DRC?</h2>
                                </div>
                                <div>
                                    <p>
                                        The DRC has substantial untapped gold, cobalt, and high-grade copper reserves, but equally significant security risks accentuated by a lack of robust infrastructure. Cobalt, one of the key metals to produce electric vehicles, places the DRC in a strategic position for the energy transition.
                                    </p>
                                </div>
                            </div><!-- section title end -->
                        </div> 
                        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12">
                           
                        </div>
                    </div>
                    <!-- row end -->
                </div>
            </section>
            <!--padding_bottom_zero-section end-->

            <!--blog-section-->
            <section class="prt-row blog-section-03 clearfix">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-5 col-lg-6 col-md-12">
                            <div class="blog-text blog-text1 d-flex">
                                <span class="blog-txt blog-txt1">150+</span>
                                <p>Best News <br>Events</p>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-6 col-md-12">
                            <div class="d-flex justify-content-between align-items-center res-1199-mt-30">
                                <!-- section title -->
                                <div class="section-title">
                                    <div class="title-header">
                                        <h3>BLOG & ARTICLES</h3>
                                        <h2 class="title mb-0">Our recent posts</h2>
                                    </div>
                                </div><!-- section title end -->
                            </div>
                        </div>                     
                    </div>
                    <div class="row mt-25 res-1199-mt-10">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="featured-imagebox featured-imagebox-post style3">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="featured-content d-flex align-items-center">
                                            <div class="post-meta">
                                                <span class="prt-meta-line date">18<sup class="sup">Jun</sup></span>
                                            </div>
                                            <div class="featured-title pl-80 res-480-pl-0 res-480-pt-20">
                                                <h3><a href="blog-single.html">The most 5 common types of ore mining equipment</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="featured-desc align-items-center res-767-mt-15">
                                            <div class="post-meta">
                                                <span class="blog-tag">Mining</span>
                                                <span class="prt-meta-line comment"><i class="ti-comments"></i> Comments</span>
                                            </div>                                  
                                            <div class="float-end float-sm res-480-pt-20">
                                                <a class="prt-btn prt-btn-size-md prt-btn-shape-round prt-btn-style-border" href="blog-single.html">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-overlay-img">
                                    <img class="img-fluid" src="assets/images/blog/blog01.jpg" alt="image" width="1300" height="151">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="featured-imagebox featured-imagebox-post style3">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="featured-content d-flex align-items-center">
                                            <div class="post-meta">
                                                <span class="prt-meta-line date">20<sup class="sup">Jun</sup></span>
                                            </div>
                                            <div class="featured-title pl-80 res-480-pl-0 res-480-pt-20">
                                                <h3><a href="blog-single.html">Ubiquitous Industrial Mines Nature’s Raw Materials!</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="featured-desc align-items-center res-767-mt-15">
                                            <div class="post-meta">
                                                <span class="blog-tag">Development</span>
                                                <span class="prt-meta-line comment"><i class="ti-comments"></i> Comments</span>
                                            </div>
                                            <div class="float-end float-sm res-480-pt-20">
                                                <a class="prt-btn prt-btn-size-md prt-btn-shape-round prt-btn-style-border" href="blog-single.html">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-overlay-img">
                                    <img class="img-fluid" src="assets/images/blog/blog01.jpg" alt="image" width="1300" height="151">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="featured-imagebox featured-imagebox-post style3">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="featured-content d-flex align-items-center">
                                            <div class="post-meta">
                                                <span class="prt-meta-line date">22<sup class="sup">Jun</sup></span>
                                            </div>
                                            <div class="featured-title pl-80 res-480-pl-0 res-480-pt-20">
                                                <h3><a href="blog-single.html">A mining report anomalous gold and copper values</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="featured-desc align-items-center res-767-mt-15">
                                            <div class="post-meta">
                                                <span class="blog-tag">Planning</span>
                                                <span class="prt-meta-line comment"><i class="ti-comments"></i> Comments</span>
                                            </div>
                                            <div class="float-end float-sm res-480-pt-20">
                                                <a class="prt-btn prt-btn-size-md prt-btn-shape-round prt-btn-style-border" href="blog-single.html">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-overlay-img">
                                    <img class="img-fluid" src="assets/images/blog/blog01.jpg" alt="image" width="1300" height="151">
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="featured-imagebox featured-imagebox-post border-bottom style3">
                                <div class="row align-items-center">
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="featured-content d-flex align-items-center">
                                            <div class="post-meta">
                                                <span class="prt-meta-line date">25<sup class="sup">Jun</sup></span>
                                            </div>
                                            <div class="featured-title pl-80 res-480-pl-0 res-480-pt-20">
                                                <h3><a href="blog-single.html">Announce drill results at its Mazola Hill and deposits</a></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12">
                                        <div class="featured-desc align-items-center res-767-mt-15">
                                            <div class="post-meta">
                                                <span class="blog-tag">Challenges</span>
                                                <span class="prt-meta-line comment"><i class="ti-comments"></i> Comments</span>
                                            </div>
                                            <div class="float-end float-sm res-480-pt-20">
                                                <a class="prt-btn prt-btn-size-md prt-btn-shape-round prt-btn-style-border" href="blog-single.html">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="blog-overlay-img">
                                    <img class="img-fluid" src="assets/images/blog/blog01.jpg" alt="image" width="1300" height="151">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--blog-section end-->

        </div><!--site-main end-->
