<section class="prt-row padding_bottom_zero-section prt-bg clearfix ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="section-title title-style-center_text">
                    <div class="title-header">
                        <h3 class="style2 text-base-white">Leadership</h3>
                        <h2 class="title">Mission & Vision</h2>
                        <p class="align-middle"><br>Creating sustainable growth in value for our stakeholders by implementing high standards and practices, as well as staying true to our commitment of bettering the wellbeing of our employees, while taking the environment into consideration.</p>
                       
                    </div>
                </div><!-- section title end -->
            </div>
        </div>
        <div class="row prt-vertical_sep d-flex align-items-center flex-row justify-content-center">
            <div class="col-md-12 col-lg-6 col-xl-6 col-xs-12 col-sm-12 d-flex align-items-center flex-column justify-content-center">
                <div class="wrap-team-lead-profile">
                    <div class="bg-shadow wrap-profile-content">
                        <div><img class="profil-mini" src="/assets/images/bernard.jpg"/></div>
                        <h3>Bernard Muhindo</h3>
                        <div class="pb-2"><span>CEO</span></div>
                        
                        <p class="fs-6">Zibo Mining operates under the leadership of Bernard Muhindo as the Chief Executive Officer. A diverse team of committed professionals handles corporate affairs and investor relations</p>
                        <div><ul class="social-icons contact-link">
                            <!--<li><a href="" rel="noopener" aria-label="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" rel="noopener" aria-label="twitter"><i class="fa fa-twitter"></i></a></li>-->
                            <li><a href="https://www.linkedin.com/in/bernard-muhindo-a441b9241" rel="noopener" aria-label="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            <!--<li><a href="" rel="noopener" aria-label="dribbble"><i class="fa fa-dribbble"></i></a></li>-->
                        </ul></div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 col-xl-6 col-xs-12 col-sm-12 d-flex align-items-center flex-column justify-content-center">
                <div class="wrap-team-lead-profile">
                    <div class="bg-shadow wrap-profile-content">
                        <div><img class="profil-mini" src="/assets/images/peter_thumb.jpg"/></div>
                        <h3>Peter Orena</h3>
                        <div class="pb-2"><span>PRESIDENT</span></div>
                        
                        <p class="fs-6">As Zibo Mining President, Peter Orena brings over 20 years as a US Banker and overseas Investor Relations. </p>
                        <div><ul class="social-icons contact-link">
                            <!--<li><a href="" rel="noopener" aria-label="facebook"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="" rel="noopener" aria-label="twitter"><i class="fa fa-twitter"></i></a></li>-->
                            <li><a href="https://www.linkedin.com/in/peter-c-orena-516301178" rel="noopener" aria-label="linkedin"><i class="fa fa-linkedin"></i></a></li>
                            
                        </ul></div>
                    </div>
                </div>
            </div>
            
<!--
            <div class="col-md-12 col-lg-6 col-xl-6 col-xs-12 col-sm-12 d-flex align-items-center flex-column justify-content-center">
              <p class="align-middle"><br><br>Zibo team of geologists take care of the field work and geology to make sure we get the best there mining land and all our titles and permits are kept in order and are current.</p>
                <div class="mt-45">
                    <h3>Follow us</h3>
                    <ul class="social-icons contact-link">
                        <li><a href="" rel="noopener" aria-label="facebook"><i class="fa fa-facebook"></i>Facebook</a></li>
                        <li><a href="" rel="noopener" aria-label="twitter"><i class="fa fa-twitter"></i>Twitter</a></li>
                        <li><a href="" rel="noopener" aria-label="linkedin"><i class="fa fa-linkedin"></i>Linkedin</a></li>
                        <li><a href="" rel="noopener" aria-label="dribbble"><i class="fa fa-dribbble"></i>Dribbble</a></li>
                    </ul>
                </div>
            </div>-->
            
        </div> 
        <br><br/>
    </div>
</section>