
<section class="prt-row clearfix">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 prt-sticky-column">
                    <div class="p-0">
                        <!-- section title -->
                        <div class="section-title">
                            <div class="title-header">
                                <h3 class="style1">What we offer</h3>
                                <h2 class="title">Mineral Rich Mining Sites</h2>
                            </div>
                            <div class="title-desc">
                                <p>With our 4+ mining sites strategically spread across 3 provinces namely Haut-Katanga, Haut Lomami and Lualaba provinces, we have the ability to produce a vast number of minerals in great quantities. The sites have a rich history, which has been displayed by neighboring mining sites owned by companies such as Ivanhoe, Tantalex Lithium Resources, and others running large scale projects</p>
                            </div>
                        </div>
                        <div style="height: 370px; overflow: hidden;">
                            <img src="assets/images/bg-image/col-bgimage-2.jpg" style="width:99%;" />
                        </div>
                        <!-- section title end -->
                        <!--circular-->
                        <!--
                        <div class="circular-main-01">
                            <div class="circular-main">
                                <div class="circular">
                                    <div class="circular">
                                        <i class="flaticon flaticon-up-right-arrow"></i>
                                        <span class="circular_text rotate slower"
                                            data-text="View All Services  -  View All Services  -">
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(180deg) translateY(56px) rotate(180deg);">V</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(190.909deg) translateY(56px) rotate(180deg);">i</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(200.818deg) translateY(56px) rotate(180deg);">e</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(210.730deg) translateY(56px) rotate(180deg);">w</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(223.636deg) translateY(56px) rotate(180deg);">
                                            </span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(234.545deg) translateY(56px) rotate(180deg);">a</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(245.455deg) translateY(56px) rotate(180deg);">l</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(256.364deg) translateY(56.6px) rotate(180deg);">l</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(267.273deg) translateY(56.6px) rotate(180deg);">
                                            </span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(278.182deg) translateY(56.6px) rotate(180deg);">s</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(289.091deg) translateY(56.6px) rotate(180deg);">e</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(300deg) translateY(56.6px) rotate(180deg);">r</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(310.909deg) translateY(56.6px) rotate(180deg);">v</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(321.818deg) translateY(56.6px) rotate(180deg);">i</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(332.727deg) translateY(56.6px) rotate(180deg);">c</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(343.636deg) translateY(56.6px) rotate(180deg);">e</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(354.545deg) translateY(56.6px) rotate(180deg);">-</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(365.455deg) translateY(56.6px) rotate(180deg);">v</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(376.364deg) translateY(56.6px) rotate(180deg);">i</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(387.273deg) translateY(56.6px) rotate(180deg);">e</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(398.182deg) translateY(56.6px) rotate(180deg);">w</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(409.091deg) translateY(56.6px) rotate(180deg);"></span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(420deg) translateY(56.6px) rotate(180deg);">a</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(430.909deg) translateY(56.6px) rotate(180deg);">l</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(441.818deg) translateY(56.6px) rotate(180deg);">l</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(452.727deg) translateY(56.6px) rotate(180deg);">
                                            </span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(463.727deg) translateY(56.6px) rotate(180deg);">s</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(474.727deg) translateY(56.6px) rotate(180deg);">e</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(485.727deg) translateY(56.6px) rotate(180deg);">r</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(496.727deg) translateY(56.6px) rotate(180deg);">v</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(507.727deg) translateY(56.6px) rotate(180deg);">i</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(518.727deg) translateY(56.6px) rotate(180deg);">c</span>
                                            <span class="character"
                                                style="transform: translate(-50%, -50%) rotate(529.727deg) translateY(56.6px) rotate(180deg);">-</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p>Un environnement qui valorise une diversité de la communauté</p>
                            </div>
                        </div>-->
                        <!-- circular end-->
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="row res-991-mt-30">
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box icon-align-before-content mt-0 style7" data-aos="fade-up"
                                data-aos-duration="200">
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h3><a href="/values?q=health">Health and Safety</a></h3>
                                    </div>
                                    <div class="featured-desc">
                                        <a class="prt-btn btn-inline prt-btn-size-md btn-underline" href="/values?q=health">More</a>
                                    </div>
                                </div>
                                <div class="featured-icon">
                                    <div
                                        class="prt-icon prt-icon_element-onlytxt prt-icon_element-size-xl prt-icon_element-color-skincolor">
                                        <i class="flaticon flaticon-shield"></i>
                                    </div>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box icon-align-before-content style7" data-aos="fade-up"
                                data-aos-duration="400">
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h3><a href="/values?q=responsible">Responsible Production</a></h3>
                                    </div>
                                    <div class="featured-desc">
                                        <a class="prt-btn btn-inline prt-btn-size-md btn-underline" href="/values?q=responsible">More</a>
                                    </div>
                                </div>
                                <div class="featured-icon">
                                    <div
                                        class="prt-icon prt-icon_element-onlytxt prt-icon_element-size-xl prt-icon_element-color-skincolor">
                                        <i class="flaticon flaticon-conveyor"></i>
                                    </div>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box icon-align-before-content style7" data-aos="fade-up"
                                data-aos-duration="600">
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h3><a href="/values?q=indigenous">Indigenous Peoples</a></h3>
                                    </div>
                                    <div class="featured-desc">
                                        <a class="prt-btn btn-inline prt-btn-size-md btn-underline" href="/values?q=indigenous">More</a>
                                    </div>
                                </div>
                                <div class="featured-icon">
                                    <div
                                        class="prt-icon prt-icon_element-onlytxt prt-icon_element-size-xl prt-icon_element-color-skincolor">
                                        <i class="flaticon flaticon-management"></i>
                                    </div>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </div>
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            <!--featured-icon-box-->
                            <div class="featured-icon-box icon-align-before-content style7" data-aos="fade-up"
                                data-aos-duration="800">
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h3><a href="/values?q=people">Communities People</a></h3>
                                    </div>
                                    <div class="featured-desc">
                                        <a class="prt-btn btn-inline prt-btn-size-md btn-underline" href="/values?q=people">More</a>
                                    </div>
                                </div>
                                <div class="featured-icon">
                                    <div
                                        class="prt-icon prt-icon_element-onlytxt prt-icon_element-size-xl prt-icon_element-color-skincolor">
                                        <i class="flaticon flaticon-group"></i>
                                    </div>
                                </div>
                            </div><!-- featured-icon-box end-->
                        </div>
                        <!--
                        <div class="col-lg-12 col-md-6 col-sm-12">
                            
                            <div class="featured-icon-box icon-align-before-content style7" data-aos="fade-up"
                                data-aos-duration="1000">
                                <div class="featured-content">
                                    <div class="featured-title">
                                        <h3><a href="/values?q=trailings">Trailings management</a></h3>
                                    </div>
                                    <div class="featured-desc">
                                        <a class="prt-btn btn-inline prt-btn-size-md btn-underline" href="/values?q=trailings">More</a>
                                    </div>
                                </div>
                                <div class="featured-icon">
                                    <div
                                        class="prt-icon prt-icon_element-onlytxt prt-icon_element-size-xl prt-icon_element-color-skincolor">
                                        <i class="flaticon flaticon-civil-rights"></i>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>