<!--header start-->
<header id="masthead" class="header prt-header-style-02">
    <!-- site-header-menu -->
    <div id="site-header-menu" class="site-header-menu">
        <div class="site-header-menu-inner prt-stickable-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!--site-navigation -->
                        <div class="site-navigation">
                            <div class=" d-flex align-items-center justify-content-between border-bottom">
                                <div class="d-flex align-items-center">
                                    <!-- site-branding -->
                                    <div class="site-branding">
                                        <a class="home-link" href="/" title="Minemo" rel="home">
                                            <img id="logo-img" height="45" width="100" style="padding-left: 10px;"
                                                class="img-fluid auto_size" src="assets/images/zibo_logo.png"
                                                alt="logo-img">
                                        </a>
                                    </div><!-- site-branding end -->
                                    <div class="btn-show-menu-mobile menubar menubar--squeeze">
                                        <span class="menubar-box">
                                            <span class="menubar-inner menubar-inner-01"></span>
                                        </span>
                                    </div>
                                    <!-- menu -->
                                    <nav class="main-menu menu-mobile" id="menu">
                                        <ul class="menu">
                                            <li class="mega-menu-item active">
                                                <a href="#" class="mega-menu-link">Menu</a>
                                                <ul class="mega-submenu" id="style-3">
                                                    <li class="mega-menu-item">
                                                        <a class="active" style="margin-left: 0px;padding-left: 21px;"
                                                            href="/">
                                                            Home
                                                        </a>

                                                    </li>

                                                    <li class="mega-menu-item">
                                                       
                                                        <a class="btn " [routerLink]="'services'" style="margin-left: 0px;padding-left: 21px;">
                                                           Services
                                                        </a>
                                                        
                                            </li>
                                            <!--
                                            <li class="mega-menu-item">
                                                       
                                                <a class="btn " routerLink="portfolio" style="margin-left: 0px;padding-left: 21px;">
                                                   Portfolio
                                                </a>
                                                
                                    </li>
                                    <li class="mega-menu-item">
                                       
                                                <a class="btn" routerLink="blog" style="margin-left: 0px;padding-left: 21px;">
                                                    Blog
                                                </a>
                                               
                                    </li>-->
                                                    <li class="mega-menu-item pb-10">

                                                        <a class="btn" [routerLink]="'contact-us'"
                                                            style="margin-left: 0px;padding-left: 21px;">
                                                            Contact us
                                                        </a>

                                                    </li>
                                                    <li class="mega-menu-item pb-10">

                                                        <a class="btn" [routerLink]="'about-us'"
                                                            style="margin-left: 0px;padding-left: 21px;">
                                                            About                                                        </a>

                                                    </li>

                                                    <li class="mega-menu-contact mega-menu-contact-1">Contact us :
                                                        <a href="tel:+243821816662">(+243)821 816 662</a></li>
                                                    <li class="mega-menu-contact">Email: <a
                                                            href="mailto:info@example.com">invest&#64;zibomines.com</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav> <!-- menu end-->
                                </div>
                                <div class="d-flex align-items-center">
                                    <div class="header_extra">
                                        <!--<span class="text">if you have any query?</span>
                                        <a class="prt-btn btn-inline prt-btn-size-md prt-btn-color-skincolor btn-underline" href="contact-us.html">Click Here</a> -->
                                    </div>
                                    <div class="header-social-icons">
                                        <ul class="social-icons">
                                            <li><a href="https://www.facebook.com/profile.php?id=100093428229993" rel="noopener" aria-label="facebook"><i
                                                        class="icon-facebook"></i></a></li>
                                            <li><a href="https://twitter.com/ZiboMines" rel="noopener" aria-label="twitter"><i
                                                        class="icon-twitter"></i></a></li>
                                            <li><a href="https://www.linkedin.com/company/zibo-mines/about/?viewAsMember=true" rel="noopener" aria-label="linkedin"><i
                                                        class="icon-linkedin"></i></a></li>
                                           <!-- <li><a href="/" rel="noopener" aria-label="dribbble"><i
                                                        class="icon-dribbble"></i></a></li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- site-navigation end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- site-header-menu end-->
</header><!--header end-->

<!-- START decfoxSlider 1 REVOLUTION SLIDER 6.5.9 -->
<p class="rs-p-wp-fix"></p>

<!-- END REVOLUTION SLIDER -->
<!-- START decfoxSlider 1 REVOLUTION SLIDER 6.5.9 -->
<p class="rs-p-wp-fix"></p>
<rs-module-wrap id="rev_slider_1_1_wrapper" data-source="gallery">
    <rs-module id="rev_slider_1_1" style="" data-version="6.5.9">
        <rs-slides>
            <rs-slide data-key="rs-1" data-title="Slide" data-thumb="images/slides/slider-mainbg-001.jpg"
                data-anim="ei:d;eo:d;s:d;r:0;t:fade;sl:d;">

                <img src="assets/images/slides/slider-mainbg-001.jpg" title="slider-img-01.jpg" width="1920"
                    height="630" class="rev-slidebg tp-rs-img" data-no-retina>
                <rs-layer id="slider-1-slide-1-layer-0" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:15px,25px,0,0;yo:157px,157px,80px,80px;"
                    data-text="w:normal;s:16;l:26,26,26,20;fw:400;" data-vbility="t,t,f,f" data-frame_0="y:-100%;"
                    data-frame_0_mask="u:t;" data-frame_1="st:190;sp:1200;sR:190;" data-frame_1_mask="u:t;"
                    data-frame_999="o:0;st:w;sR:7610;" style="z-index:8;font-family:'Krona One', sans-serif;">Welcome to
                    <br>
                </rs-layer><!--

            --><rs-layer id="slider-1-slide-1-layer-1" class="rs-selectable" data-type="shape" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:15px,25px,15px,15px;yo:220px,220px,100px,100px;"
                    data-text="w:normal;s:20,20,12,7;l:0,0,15,9;" data-dim="w:303px,303px,303px,303px;h:2px,2px,2px,2px"
                    data-vbility="t,t,f,f" data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                    data-frame_1="st:190;sp:1200;sR:190;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7610;"
                    style="z-index:8;background-color:#e33b28;">
                </rs-layer><!--
        
            --><rs-layer id="slider-1-slide-1-layer-2" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:5px,15px,0,0;yo:273px,273px,94px,80px;"
                    data-text="w:normal;s:94,94,58,40;l:116,116,80,60;fw:400;" data-frame_0="y:-100%;"
                    data-frame_0_mask="u:t;" data-frame_1="st:310;sp:1200;sR:310;" data-frame_1_mask="u:t;"
                    data-frame_999="o:0;st:w;sR:7490;" style="z-index:7;font-family:'Krona One', sans-serif;">Zibo
                    Mining
                </rs-layer><!--

            --><rs-layer id="slider-1-slide-1-layer-3" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:5px,15px,0,0;yo:385px,385px,170px,130px;"
                    data-text="w:normal;s:94,94,58,40;l:116,116,80,60;fw:400;" data-frame_0="y:-100%;"
                    data-frame_0_mask="u:t;" data-frame_1="st:440;sp:1200;sR:440;" data-frame_1_mask="u:t;"
                    data-frame_999="o:0;st:w;sR:7360;" style="z-index:7;font-family:'Krona One', sans-serif;">SARL
                </rs-layer><!--
<rs-layer id="slider-1-slide-1-layer-4" data-type="text" data-color="rgba(255 255 255 / 70%)"
                    data-rsp_ch="on" data-xy="x:l,l,c,c;xo:477px,477px,0,0;yo:409px,409px,270px,200px;"
                    data-text="w:normal;s:16;l:26,26,26,20;fw:400;" data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                    data-frame_1="st:680;sp:1200;sR:680;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7120;"
                    style="z-index:8;font-family:'Kumbh Sans', sans-serif;">The art of exploiting with high safety
                    standards and <br> unprofitable mine is fit only for the sepulcher of a<br> dead mule of manufactory
                </rs-layer>
            --><!--
<a id="slider-1-slide-1-layer-5" class="rs-layer rs-selectable underline" data-color="#e33b28"
                    href="about-us.html" data-type="text" data-rsp_ch="on"
                    data-xy="x:l,l,c,c;xo:680px,685px,55px,50px;yo:467px,467px,328px,245px;"
                    data-text="w:normal;s:16,16,16,15;l:15,15,15,15;fw:400;" data-vbility="t,t,t,t"
                    data-frame_0="y:-100%;" data-frame_1="e:power4.inOut;st:1050;sp:500;sR:1050;"
                    data-frame_999="o:0;st:w;sR:7450;" data-frame_hover="c:#fff;"
                    style="z-index:12; font-family:'Kumbh Sans', sans-serif;">View More
                </a>
            --><!--

            --><rs-layer id="slider-1-slide-3-layer-6" class="rs-selectable rev_slider_image" data-type="image"
                    data-rsp_ch="on" data-xy="x:r;xo:15px,15px,-230px,-281px;y:b;yo:0,0,0,196px;"
                    data-text="w:normal;s:20,20,12,7;l:0,0,15,9;" data-border="bor:5px,5px,5px,5px;"
                    data-dim="w:303px,303px,303px,303px;h:186px,186px,186px,186px" data-vbility="t,t,f,f"
                    data-frame_0="y:100%;" data-frame_1="e:power4.inOut;st:160;sp:500;sR:160;"
                    data-frame_999="o:0;st:w;sR:8340;" style="z-index:8;"><img class="img-fluid rs_slider1_hover"
                        src="assets/images/slides/single-01.png" alt="image" width="130" height="75">
                </rs-layer><!--

            --><rs-layer id="slider-1-slide-1-layer-7" data-type="text" data-color="#e33b28" data-rsp_ch="on"
                    data-xy="x:r,r,c,c;xo:190px,190px,0,0;yo:488px,488px,80px,67px;"
                    data-text="w:normal;s:30;l:30,30,30,30;fw:400;" data-vbility="t,t,f,f" data-frame_0="y:-100%;"
                    data-frame_1="st:340;sp:1200;sR:340;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7510;"
                    style="z-index:8;font-family:'Krona One', sans-serif;">4+
                </rs-layer><!--
        
            --><rs-layer id="slider-1-slide-1-layer-8" data-type="text" data-rsp_ch="on"
                    data-xy="x:r,r,c,c;xo:72px,72px,0,0;yo:536px,536px,80px,67px;"
                    data-text="w:normal;s:16;l:26,26,26,26;fw:400;" data-vbility="t,t,f,f" data-frame_0="y:-100%;"
                    data-frame_1="st:340;sp:1200;sR:340;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7510;"
                    style="z-index:8;font-family:'Krona One', sans-serif;">Mining sites for <br> partners
                </rs-layer><!--

        --></rs-slide>

            <rs-slide data-key="rs-4" data-title="Slide" data-thumb="assets/images/slides/slider-mainbg-001.jpg"
                data-anim="ei:d;eo:d;s:d;r:0;t:fade;sl:d;">

                <img src="assets/images/slides/slider-mainbg-001.jpg" title="slider-img-02.jpg" width="1920"
                    height="630" class="rev-slidebg tp-rs-img" data-no-retina><!--
            
            --><rs-layer id="slider-1-slide-4-layer-0" data-type="text" data-rsp_ch="on"
                    data-xy="x:c,c,c,c;xo:15px,15px,0,0;yo:187px,187px,80px,80px;"
                    data-text="w:normal;s:16;l:26,26,26,20;fw:400;" data-vbility="t,t,f,f" data-frame_0="y:-100%;"
                    data-frame_0_mask="u:t;" data-frame_1="st:190;sp:1200;sR:190;" data-frame_1_mask="u:t;"
                    data-frame_999="o:0;st:w;sR:7610;" style="z-index:8;font-family:'Krona One', sans-serif;">The best partner to start
                </rs-layer><!--

            --><rs-layer id="slider-1-slide-4-layer-1" class="rs-selectable" data-type="shape" data-rsp_ch="on"
                    data-xy="x:c,c,c,c;xo:15px,15px,0,0;yo:220px,220px,100px,100px;"
                    data-text="w:normal;s:20,20,12,7;l:0,0,15,9;" data-dim="w:390px,390px,390px,390px;h:2px,2px,2px,2px"
                    data-vbility="t,t,f,f" data-frame_0="y:-100%;" data-frame_0_mask="u:t;"
                    data-frame_1="st:190;sp:1200;sR:190;" data-frame_1_mask="u:t;" data-frame_999="o:0;st:w;sR:7610;"
                    style="z-index:8;background-color:#e33b28;">
                </rs-layer><!--
        
             --><rs-layer id="slider-1-slide-4-layer-2" data-type="text" data-rsp_ch="on"
                    data-xy="x:c,c,c,c;xo:5px,5px,0,0;yo:250px,273px,74px,84px;"
                    data-text="w:normal;s:94,94,58,30;l:116,116,80,60;fw:400;" data-frame_0="y:-100%;"
                    data-frame_0_mask="u:t;" data-frame_1="st:310;sp:1200;sR:310;" data-frame_1_mask="u:t;"
                    data-frame_999="o:0;st:w;sR:7490;" style="z-index:7;font-family:'Krona One', sans-serif;">a Mining compagny
                </rs-layer><!--

            --><rs-layer id="slider-1-slide-4-layer-3" data-type="text" data-rsp_ch="on"
                    data-xy="x:c,c,c,c;xo:5px,5px,0,0;yo:360px,385px,135px,135px;"
                    data-text="w:normal;s:94,94,58,30;l:116,116,80,60;fw:400;" data-frame_0="y:-100%;"
                    data-frame_0_mask="u:t;" data-frame_1="st:440;sp:1200;sR:440;" data-frame_1_mask="u:t;"
                    data-frame_999="o:0;st:w;sR:7360;" style="z-index:7;font-family:'Krona One', sans-serif;">in DRC
                </rs-layer><!--
<rs-layer id="slider-1-slide-4-layer-4" data-type="text" data-color="rgba(255 255 255 / 70%)"
                    data-rsp_ch="on" data-xy="x:c,c,c,c;xo:412px,400px,0,0;yo:380px,405px,215px,205px;"
                    data-text="w:normal;s:16;l:26,26,26,20;fw:400;" data-vbility="t,t,t,f" data-frame_0="y:-100%;"
                    data-frame_0_mask="u:t;" data-frame_1="st:680;sp:1200;sR:680;" data-frame_1_mask="u:t;"
                    data-frame_999="o:0;st:w;sR:7120;" style="z-index:8;font-family:'Kumbh Sans', sans-serif;">The art
                    of exploiting with high safety standards and <br> unprofitable mine is fit only for the sepulcher of
                    a<br> dead mule of manufactory
                </rs-layer>
            --><!--
<a id="slider-1-slide-4-layer-5" class="rs-layer rs-selectable" href="contact-us.html" data-type="text"
                    data-rsp_ch="on" data-xy="x:c,c,c,c;xo:-290px,-290px,0,0;yo:390px,420px,313px,205px;"
                    data-text="w:normal;s:12,12,12,12;l:22,22,22,22;fw:400;"
                    data-padding="t:13,13,13,10;r:30,30,30,30;b:12,12,12,10;l:30,30,30,30;"
                    data-border="bos:solid;boc:#fff;bow:2px,2px,2px,2px;bor:10px,10px,10px,10px;" data-vbility="t,t,t,t"
                    data-frame_0="y:-100%;" data-frame_1="e:power4.inOut;st:1050;sp:500;sR:1050;"
                    data-frame_999="o:0;st:w;sR:7450;"
                    data-frame_hover="c:#fff;bgc:#e33b28;bos:solid;boc:#e33b28;bow:2px,2px,2px,2px;bor:10px,10px,10px,10px;"
                    style="z-index:12; font-family:'Krona One', sans-serif; text-transform: uppercase;">Contact Us
                </a>
            -->
            <!--

            -->
            </rs-slide>
        </rs-slides>
    </rs-module>
</rs-module-wrap>

<div class="site-main bg-white">
    <app-quality-service></app-quality-service>
    <section class="prt-row video-autoplay-section padding_zero-section clearfix">
        <div class="container-fulid">
            <div class="row">
                <div class="col-lg-12">
                    <!-- <div class="video-autoplay">
                        <video class="img-fluid" loop="" autoplay="autoplay" controls="controls" muted="" content="noindex">
                            <source src="images/video/production.mp4" type="video/mp4">
                        </video>
                    </div> -->
                    <img width="100%" height="650" class="img-fluid" src="assets/images/slides/slider-mainbg-001.jpg"
                        alt="about-01">
                </div>
            </div>
        </div>
    </section>
    <app-over-about></app-over-about>
    <app-products></app-products>
    <app-location-zone></app-location-zone>
    <br><br>
    
    <app-what-expecting></app-what-expecting>
    <app-our-team></app-our-team>
    <app-guide-principales></app-guide-principales>
    <app-support-us></app-support-us>
    
    
</div>